/* CreateGroupButton.css */
.create-group-button {
  padding: 10px 20px;
  background-color: #282828; /* 버튼 배경색 */
  color: #ffffff; /* 버튼 글자색 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px; /* 버튼 글자 크기 */
  font-weight: 700;
}

.create-group-button:hover {
  background-color: #555; /* 호버 시 배경색 */
}
