.group-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 300px; /* optional: control card width */
}

.group-card-header {
  margin-bottom: 15px;
}

.group-card-image {
  width: 100%; /* Make the image take up full card width */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 15px;
  border-radius: 8px; /* Optional: Add a slight border radius to the image */
  object-fit: cover;
}

.group-info {
  flex-grow: 1;
  text-align: left; /* Left align text */
}

.group-date {
  font-size: 14px;
}

.date {
  color: #282828; /* D+날짜 검정색 */
}

.separator {
  color: #b8b8b8;
}

.public {
  color: #8d8d8d; /* 공개/비공개 회색 */
}

.group-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.group-introduction {
  font-size: 14px;
  color: #282828; /* 소개 텍스트 색상 */
  margin-top: 5px; /* 간격 추가 */
}

.group-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #888;
  font-size: 14px;
  margin-top: 10px;
}
