/* LoadMoreButton.css */
.load-more-container {
  display: flex;
  justify-content: center;
  width: 1200px;
  position: fixed;
  bottom: 20px; /* 페이지 하단에서 조금 띄워 놓음 */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  box-sizing: border-box;
}

#load-more-btn {
  max-width: 100%;
  padding: 10px 20px;
  border: 1px solid #282828;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  box-sizing: border-box; /* 패딩 포함 너비 계산 */
}
