/* NoGroup 컴포넌트의 다른 스타일 */
.no-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; /* 화면 중앙에 위치 */
  text-align: center;
}

.no-post-image {
  width: 50px;
  height: 50px;
}

.no-post-text {
  font-size: 18px;
  color: #8d8d8d;
  margin-bottom: 8px;
  font-weight: 700;
}

.no-post-subtext {
  font-size: 14px;
  color: #b8b8b8;
  margin-bottom: 30px;
  font-weight: 400;
}
