.post-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.post-card-header {
  margin-bottom: 15px;
  text-align: left;
}

.post-card-public-status {
  color: #8d8d8d;
}

.post-card-image {
  width: 100%; /* Make the image take up full card width */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 15px;
  border-radius: 8px; /* Optional: Add a slight border radius to the image */
  object-fit: cover;
}

.post-info {
  flex-grow: 1; /* Left align text */
}
.post-card-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
}

.post-card-tags {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.post-card-tag {
  padding: 5px 5px;
  font-size: 0.875rem;
  color: #b8b8b8;
}

.post-more {
  display: flex;
  justify-content: space-between; /* Space between time and stats */
  align-items: center; /* Align items vertically in the center */
  margin-top: 15px;
}
.post-time {
  font-size: 15px;
  color: #282828;
  text-align: left;
}
.post-stats {
  color: #666;
  text-align: right;
}
