.post-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.post-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.post-card-public-status {
  color: gray;
}

.post-card-image {
  width: 50px;
  height: auto;
  object-fit: cover;
  margin-right: 15px;
}

.post-card-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}

.post-card-moment,
.post-card-location {
  font-size: 0.875rem;
  color: #777;
}

.post-card-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 10px;
}

.post-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.post-card-tag {
  background-color: #f1f1f1;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 0.875rem;
  color: #555;
}
