.create-group-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-upload-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.image-placeholder {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-right: 10px;
  box-sizing: border-box;
}

.file-upload-button {
  padding: 8px 12px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 300;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.toggle-container {
  display: flex;
  align-items: center; /* 수직으로 중앙 정렬 */
}

.toggle-container p {
  margin: 0;
  margin-right: 10px; /* "공개"와 토글 사이의 간격 */
}

.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch.active {
  background-color: #333;
}

.switch-handle {
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.3s;
}

.toggle-switch.active .switch-handle {
  left: 26px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #555;
}
