.public-group-container {
  max-width: 1200px; /* Limit the container width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
}

.create-group-button-container {
  font-weight: 700;
  position: absolute;
  top: 20px; /* Position the button at the top of the page */
  right: 40px; /* Align to the right */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Ensure the top-bar spans the full width */
  box-sizing: border-box;
}

.button-group {
  display: flex;
  gap: 10px; /* Add space between 공개/비공개 버튼 */
}

.search-bar {
  flex-grow: 2; /* Make the search bar take up more space */
  margin-right: 20px; /* Add margin between the search bar and filter */
}

.filter-select {
  flex-grow: 0; /* Make sure it doesn't expand */
  margin-left: 20px; /* Add space between the filter and search bar */
}

.group-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Space between items */
  max-width: 1560px; /* Container maximum width */
  box-sizing: border-box;
}
